<%def name="presel_input(fn,vals,excl=False)">
<label for='${fn}'>${fn}</label> <input type='text' id='${fn}' name='${fn}' value="${vl(fn)}" /> 
% for t in vals:
<a class='set ${fn}${excl and ' exclusive' or ''}' href="#" value="${t}">${t}</a>; 
% endfor
${err(fn)}
<br />
</%def>
<%def name="err(fn)">\
% if fn in errs:
<span class='err'>${errs.get(fn)}</span>\
% endif
</%def>
<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
<style type='text/css'>
.err {
color:red;
}
.success { 
color:green;
}
</style>
<script type='text/javascript' src='/static/zepto.js'></script>
<script type='text/javascript' src='/static/index.js'></script>
</head>
<body>
  <div class='menu'><a href="/">reset</a></div>
  % if written:
  <div class='success'>Your entry has been succesfully written.</div>
  % endif
  <form method='post'>
    ##<label for='from'>From</label> <input type='text' name='from' value="${vl('from')}" /> ${err('from')}<br />
    ${presel_input('from',origins,True)}
    ##<label for='to'>To</label> <input type='text' name='to' value="${vl('to')}" /> ${err('to')}<br />
    ${presel_input('to',recievers,True)}
${presel_input('tags',tags)}
    <label for='amt'>Amount</label> <input type='text' name='amt' value="${vl('amt')}" /> ${err('amt')}<br />

% for fn,fnp in {'currency':'currencies','method':'methods'}.items():    
    <label for='${fn}'>${fn}</label> 
<select name='${fn}'>
  % for cur in lists[fnp]:
  <option value='${cur}' \
% if cur==f.get(fn):
selected=1\
% endif
>${cur}</option>
  % endfor
</select> ${err(fn)}<br />
% endfor
  <label for='when'>On</label> <input type='datetime' id='when' name='when' value="${vl('when')}" /> <a id='now_lnk' href="#">now</a> ${err('when')}<br />
  <input type='submit' name='enter' value='Enter' />

    
  </form>
</body>
</html>
